.section_news {
  position: relative;
  overflow: hidden;
  padding-top: 66px;
  padding-bottom: 73px;
  background-image: url("../images/pic_background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section_news::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background: rgba(13, 43, 67, 0.8);
  mix-blend-mode: multiply;
  filter: blur(315px);
}
.news_title {
  position: relative;
  z-index: 5;
  margin-bottom: 16px;
  padding-left: 100px;
  max-width: 521px;
  color: #fff;
  background-image: url("../images/Star\ 2.png");
  background-position: left center;
  background-size: 80px 80px;
  background-repeat: no-repeat;
}
.news__content {
  position: relative;
  z-index: 5;
  margin-bottom: 60px;
  max-width: 540px;
  font-size: 18px;
  line-height: 150%;
  color: $text-color-white;
}
.content_news {
  margin-bottom: 20px;
}
.a {
  text-decoration: none;
}
.news-btn_link {
  position: relative;
  z-index: 5;
  min-width: 257px;
}
.news_btn {
  color: $text-color-black;
  background-color: $widgets-color;
}
.btn {
  display: inline-block;
  outline: none;
  border: 1px solid transparent;
  padding: 20px 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var($accent-color);
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}
.about-team{display: flex;
align-items: center;
}
.about-foto{width: 80px;
  height: 80px;
  margin-right: 30px;}
